# Ignore virtual environment
bluerovenv/
.venv/

# Ignore FUnIE-GAN original github
FUnIE-GAN/

# Ignore ultralytics training dataset 
# Common object underwater and stuff
training/
training_2/
runs/

# Ignore Python cache files
_pycache_/
*.pyc
*.pyo

# Ignore VSCode settings (optional)
.vscode/

# Ignore Jupyter or test logs (optional)
*.ipynb_checkpoints/
*.log