# Ignore virtual environment
bluerovenv/

# Ignore Python cache files
_pycache_/
*.pyc
*.pyo

# Ignore FUnIE-GAN original github
FUnIE-GAN/

# Ignore VSCode settings (optional)
.vscode/

# Ignore Jupyter or test logs (optional)
*.ipynb_checkpoints/
*.log