matplotlib==3.10.7
numpy==2.2.6
opencv_python==4.12.0.88
pandas==2.3.3
pymavlink==2.4.49

# install with ROS guide
# sensor_msgs==5.3.6

# Install with pytorch guide 
# https://pytorch.org/get-started/locally/
# torch==2.9.1+cu126
# torchvision==0.24.1+cu126

# install with ultralytics guide 
# https://docs.ultralytics.com/quickstart/
# ultralytics==8.3.228
